#index-menu-0 .navbar-toggler {
  color: #000;
}
#index-header4-0 H1 {
  color: #fff8e0;
}
#index-header4-0 P {
  color: #fbf2be;
}
#footer1-8 P {
  text-align: center;
}
#menu-c .navbar-toggler {
  color: #000;
}
#footer1-e P {
  text-align: center;
}
#msg-box3-j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-g .navbar-toggler {
  color: #000;
}
#footer1-i P {
  text-align: center;
}
